/* Adjustments to the timeline component */
.timeline {
    padding: 0 !important;
}

/* Header styling */

/* Header title styling */
.timeline .timeline_header {
    padding-top: 7px;
}

/* First timeline item styling */
.timeline .timeline_firstitem {
    min-height: 80px !important;
}

/* Additional adjustments for timeline items */
.timeline .MuiTimelineItem-root {
    min-height: 0px;
}

.timeline .MuiTimelineItem-missingOppositeContent:before {
    display: none;
}

/* Header dot styling */
.timeline .timeline_dot_header {
    color: black;
    background-color: var(--main-color);
    font-size: small;
    padding: 10px;
}

/* Remaining items dot styling */
.timeline .timeline_dot {
    color: black;
    border-color: var(--main-color);
    font-size: small;
    padding: 2px;
}

/* Timeline connector styling */
.timeline .MuiTimelineConnector-root {
    background-color: #eee;
}

/* Header dot icon styling */
.timeline .timeline_dot_header>.MuiSvgIcon-root {
    font-size: 20px;
    color: black;
}

/* Customization for timeline separators */
.timeline .separator_padding {
    padding-left: 18px;
}

/* Content section of the timeline */
.timeline .timeline_content {
    padding-top: 0px;
    margin-bottom: 20px;
}